body {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#voiceLine {
  background-color: lightblue;
  width: 100%;
  height: 30em;
}

#brawlerSelect {
  background-color: darkgray;
  width: 100%;
  height: 70%;
  overflow-y: scroll;
}

img {
  cursor: pointer
}
